<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataDrivenSuite">

        <listeners>
            <!-- Add your listener class here that implements Extent Reports -->
            <listener class-name="utils.TestListener"/>
        </listeners>
    <test name="LoginTests">
        <classes>
            <class name="test.LoginPositiveTest"/>
            <class name="test.UserManagementPositiveTest"/>
            <class name="test.DashboardPositiveTest"/>
            <class name="test.LoginFunctionalityNegativeTest"/>
            <class name="test.UserManagementNegativeTest"/>
        </classes>
    </test>
</suite>
